<nav>
  <ul>
    <li><a href="/">Homepage</a></li>
    <l1><a href="/auth/register">Register</a></l1>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
